
html,
body {
    height: 100%;
}

.films-index > .pagination span:hover {
    background: #FFFFFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #FF8947;
}
.widget__film-container {
    padding: 20px 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 1140px;
    border-bottom: 1px solid #A0A0A0;
}
.widget__film-container form{ margin-right: 40px; margin-top: 2%;}
.widget__film-information {margin-left: -520px}
.film-information-inline-text :nth-child(2) {margin-left: 20px;}
.film-information-inline-text {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 19px;
    color: #A0A0A0;
}
.widget__film-container h4 {
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    color: #000000;
}
.film-information-inline-text, .film-information-inline-genres {
    display: flex;
}
.btn-widget-film {
    height: 55px;
}
.login__title {
    width: 1140px;
    line-height: 300px;
    text-align: center;
    font-size: 36px;
    align-items: center;
    border-bottom: 1px solid lightgray;
    color: #000000;
}
.login__form {
    display: flex;
    flex-flow: column;
    width: 280px;
    margin: 0 37%;
}
.login__form label {
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    color: #000000;
}
.form-group-login button {
    width: 92px;
    height: 55px;
}
.login__form input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin-left: 24.5%;
}

.form-group-login  {text-align: center}
.form-group-signup  {text-align: center}
.login__form input[type="text"] {
    border: 1px solid black;
    width: 280px;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #A3A3A3;
}
.login__form input[type="password"] {
    width: 280px;
    border: 1px solid black;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #A3A3A3;
}
.signup-btn {
    height: 55px;
}
.main-wrapper {
    background: #E5E5E5;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
    background-color: white;
}

.footer {
    height: 200px;
    background-color: #3F3F3F;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.copyright-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 42px;
    color: #FFFFFF;
    margin-left: 600px;
}
footer .container {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.Films-Pagination {
    margin-top: 30px;
    margin-left: 307px;
    flex-flow: column;
    width: 525px;
    display: flex;
}
.pagination > li > a, .pagination > li > span {
    background: #FFFFFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    color: #FF8947;
    height: 47px;
    line-height: 32px;
}
.pagination > li > a:hover, .pagination > li > span:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    background: #FF8947;
    color: #FFFFFF;
    border: 1px solid lightgray;
}
.pagination > li > a:active, .pagination > li > span:active {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    background: #FF8947;
    color: #FFFFFF;
    border: 1px solid lightgray;
}
.pagination {
    width: 525px;
    display: flex;
    justify-content: space-between;
}
.pagination > li > a:focus, .pagination > li > span:focus {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    background: #FF8947;
    color: #FFFFFF;
    border: 1px solid lightgray;
}

.pagination > .active > span, .pagination > .active > span:hover,.pagination > .active > span:focus {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    background: #FF8947;
    color: #FFFFFF;
    border: 1px solid lightgray;
}
.pagination > .active > a {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    background: white;
    display: flex;
    align-items: center;
    text-align: center;
    font-variant: small-caps;
    border: none;
    box-shadow: none;
    color: #000000;

}
.pagination > .active > a:hover {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    background: white;
    display: flex;
    align-items: center;
    text-align: center;
    font-variant: small-caps;
    border: none;
    box-shadow: none;
    color: #000000;
}
.pagination > .active > a:focus {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    background: white;
    display: flex;
    align-items: center;
    text-align: center;
    font-variant: small-caps;
    border: none;
    box-shadow: none;
    color: #000000;

}
.pagination > li:not([class]) > a{
    background: white;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    background: white;
    display: flex;
    align-items: center;
    text-align: center;
    font-variant: small-caps;
    border: none;
    box-shadow: none;
    color: #000000;
    opacity: 0.25;
}
.pagination > .active + li > a:hover{

    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    background: white;
    display: flex;
    align-items: center;
    text-align: center;
    font-variant: small-caps;
    border: none;
    box-shadow: none;
    color: #000000;
    opacity: 0.25;
}
.main__top-bar_headers h1 {
    font-weight: bold;
    /* identical to box height */
    display: flex;
    align-items: center;
    font-variant: ruby;

    color: #000000;
}
.main__top-bar_headers p {
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: right;
    font-variant: small-caps;
    color: #A0A0A0;
}
.main__top-bar_headers {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.main__recommended-image-wrapper {
    padding: 0 20px;
}
.main__top-bar_recommended h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #A0A0A0;
    padding: 0 20px;
}
.main__sort-container form {
    display: flex;
    flex-flow: row;
}
.main__sort-container {
    padding: 0 20px;
    margin-top: 25px;
    border-bottom: 1px solid lightgray;
}
.main__sort-container label {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #A0A0A0;
}
.main__genre-choose {
    text-align-last: center;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #787878;
    outline: none;
    background: #F2F2F2;
    border-radius: 50px;
    width: 108px;
    height: 35px;
}
.main__genre-choose:active {
    background: #F2F2F2;
    border-radius: 0;
    width: 108px;
    height: 35px;
}
.main__sort-container button {
    margin-top: 1px;
    margin-left: 30px;
}
.search-like {
    outline: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #A3A3A3;
    padding-left: 5px;
    border: none;
    background: #FFFFFF;
    border-radius: 5px;
    width: 280px;
    height: 35px;
}
.search__header h1 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #787878;
}
.search__header span {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #000000;
}
.search__header p {
    font-weight: 500;
    font-size: 16px;
    margin-top: 15px;
    line-height: normal;
    display: flex;
    align-items: center;
    text-align: right;
    color: #A0A0A0;
}
.search__header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 40px;
}
.films-index > .list-wrapper > .empty {
    width: inherit;
    text-align: center;
}
.search__results {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: #787878;
}